<div>
  <app-player-table [gameResult]='gameResult'></app-player-table>
  
  <!-- 牌桌、玩家、錢、時間條、踢人按鈕 -->
  <div class="player">
    <div *ngFor="let player of players" class="player{{ player.index }}">
      <div class="player-people">{{ player.name }}</div>
      <ng-container *ngIf="player.index === 1 || player.index === 2">
        <app-money-counter [finalBet]="finalBet" [gameResult]="gameResult" ></app-money-counter>
        <app-timestamp-progress-bar ></app-timestamp-progress-bar>
      </ng-container>
      <ng-container *ngIf="player.index === 3 " >
        <app-money-counter></app-money-counter>
      </ng-container>
      <ng-container *ngIf="player.index === 2 || player.index === 3">
        <button
          mat-mini-fab
          color="primary"
          matTooltip="Kick this player."
          [matTooltipPosition]="'above'"
          class="kick-player-btn"
        >
          <mat-icon>close</mat-icon>
        </button>
      </ng-container>
    </div>
  </div>
  <!-- 牌畫面 -->
  <div class="playing-card1">
    <app-playing-card (gameResultEvent)="handleGameResult($event)" (finalBetChange)="updateFinalBet($event)" ></app-playing-card>
  </div>
 
 
  <!-- 原始內容 -->
  <!-- <div class="player">
    <div class="player1">
      <div class="flex place-content-center">player1</div>
      <app-money-counter></app-money-counter>
      <app-timestamp-progress-bar></app-timestamp-progress-bar>

      <button
        mat-mini-fab
        color="primary"
        matTooltip="Kick this player."
        [matTooltipPosition]="'above'"
        class="kick-player-btn"
      >
      <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="player2">
      <div class="flex place-content-center">player2</div>
      <app-money-counter></app-money-counter>
      <app-timestamp-progress-bar></app-timestamp-progress-bar>
      <button
        mat-mini-fab
        color="primary"
        matTooltip="Kick this player."
        [matTooltipPosition]="'above'"
        class="kick-player-btn"
      >
      <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="player3">
      <div class="flex place-content-center">player3</div>
      <app-money-counter></app-money-counter>
      <app-timestamp-progress-bar></app-timestamp-progress-bar>
      <button
        mat-mini-fab
        color="primary"
        matTooltip="Kick this player."
        [matTooltipPosition]="'above'"
        class="kick-player-btn"
      >
      <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="player4">
      <div class="flex place-content-center">player4</div>
      <app-money-counter></app-money-counter>
      <app-timestamp-progress-bar></app-timestamp-progress-bar>
      <button
        mat-mini-fab
        color="primary"
        matTooltip="Kick this player."
        [matTooltipPosition]="'above'"
        class="kick-player-btn"
      >
      <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="player5">
      <div class="flex place-content-center">player5</div>
      <app-money-counter></app-money-counter>
      <app-timestamp-progress-bar></app-timestamp-progress-bar>
      <button
        mat-mini-fab
        color="primary"
        matTooltip="Kick this player."
        [matTooltipPosition]="'above'"
        class="kick-player-btn"
      >
      <mat-icon>close</mat-icon>
      </button>
    </div>
  </div> -->
</div>
