<div class="card-container">
    <div class="card">
      <div class="card-face">
        <div
          class="grid items-center font-thin text-center h-full"
          style="font-size: 2em"
        >
          ?
        </div>
      </div>
      <div
        class="card-face-back"
      >
        <div class="top-left">
          <div class="card-suit">
            card
          </div>
          <div class="card-value">
            card
          </div>
        </div>
        <div class="bottom-right">
          <div class="card-suit">
            card
          </div>
          <div class="card-value">
            card
          </div>
        </div>
      </div>
    </div>
  </div>
  